.response {
  color: azure;
  margin-left: 40em;
  color: #D8000C;
  border: 1px solid;
  padding: auto;
  box-shadow: 1px 1px 1px #aaaaaa;
	background-color: #FFBABA;
		 
} 

.ul {
  display: inline;
   
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: 0;
  
  
 
  }
  
  .li {
    
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: aliceblue;
   
   
  }
  
  .li-a {
    display: block;
    color: rgb(15, 14, 14);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: hsl(13, 86%, 23%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }
 