/* About Section */
.about {
    
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(174, 186, 173) 100%);
    padding: 100px 0 20px 0;
    text-align: center;
}
 
.about-h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
 
.about-p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}
 
.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}