 
  
  body {
    background: var(--light-bg);
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
   
    
  
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
   
  